<link rel="stylesheet" href="/css/_header.css">

<header>
    <div id="header">
        <h3 id="codial-title">Codial</h3>
            <% if(locals.user){ %>
                  <p><a href="/users/log-out">Log Out</a></p>
                  &nbsp;
                  <p><%= user.name %></p> 
            <% }else{ %>
                  <p><a href="/users/sign-in">Sign In</a></p>
                  &nbsp;
                  <p><a href="/users/log-in">Log In</a></p>
            <% } %>
        
    </div>
    
    
</header>