<h1> User Login Page</h1>

<form action="/users/create-session" method="POST">
    <input type="text" placeholder="Enter Your Name" name="name">
    <input type="email" placeholder="Enter Your Email" name="email">
    <input type="password" placeholder="Enter Your Password" name="password">
    <input type="password" placeholder="Confirm Your Password" name="confirm_password">
    <input type="submit" value="Sign Up">
</form>