#home-container{
    background-color: rgb(229, 255, 187);
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between the two child elements */

    #feed-posts {
        width: 70%;
        padding: 10px;
    }

    #user-friends {
        width: 30%;
        border: 2px solid black;
        padding: 10px;
        height: 55%;
    }

    
}