#home-container {
  display: flex; }
  #home-container #feed-posts {
    width: 75%;
    padding: 10px; }
  #home-container #user-friends {
    width: 25%;
    border-left: 2px solid black;
    padding: 10px;
    height: 100vh; }
