#home-container {
  background-color: #e5ffbb;
  display: flex;
  /* Use flexbox for layout */
  justify-content: space-between;
  /* Space between the two child elements */ }
  #home-container #feed-posts {
    width: 70%;
    padding: 10px; }
  #home-container #user-friends {
    width: 30%;
    border: 2px solid black;
    padding: 10px;
    height: 55%; }
